.git
.github
.cursor
.codex
.idea
.vscode
.zed
*.md
!README.md
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
_ide_helper.php
Homestead.json
Homestead.yaml
docker-compose.yml
docker-compose.*.yml
.dockerignore
Dockerfile.dev
docs
